<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Cascadia Analytics - {{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom site CSS -->
  <link href="/assets/css/custom-old.css" rel="stylesheet">

  <style type="text/css">
    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('assets/fonts/glyphicons-halflings-regular.eot');
    }
  </style>

  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/js/highlight-js/styles/github.css">
  <script src="/assets/js/highlight-js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

  <div class="container main-area fill">

    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span><img src='images/CascadiaAnalyticsLogo.png' class='brand-image'/>Cascadia Analytics</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-menu-bottom">
            <li {% if page.title == "About" %} class="active" {% endif %} ><a href="About.html">About</a></li>
            <li {% if page.title == "Philosophy" %} class="active" {% endif %} ><a href="Philosophy.html">Philosophy</a></li>
            <li {% if page.title == "Technologies" %} class="active" {% endif %} ><a href="Technologies.html">Technologies</a></li>
            <li><a href="BlogIndex.html">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav> <!-- navbar -->

    <div class="container-fluid fill">
      <div class="row">
        <div class="col-sm-9 content-area">
          {{ content }}
        </div>
        <div class="col-sm-3 sidebar-container">
          <div class="sidebar-module-inset">
            <h4>Contact Us</h4>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-envelope"></i><a href='mailto:scott@cascadia-analytics.com'>Email</a></li>
              <li><i class="fa-li fa fa-twitter"></i><a href='https://twitter.com/cascadialtyics'>@cascadialytics</a></li>
              <li><i class="fa-li fa fa-github"></i><a href='https://github.com/scottcame'>GitHub</a></li>
              <li><i class="fa-li fa fa-phone"></i>360-529-2938</li>
            </ol>
          </div><!-- contact sidebar module -->
          <div class="sidebar-module-inset sidebar-module-blogposts">
            <h4>Recent Blog Posts</h4>
            <ol class="list-unstyled">
              <li><a href="#">Post 1</a></li>
              <li><a href="#">Post 2</a></li>
              <li><a href="#">Post 3</a></li>
            </ol>
          </div> <!-- blog posts sidebar module -->
        </div> <!-- sidebar container -->
      </div> <!-- row -->
      <!--
      <div class="row"><div class="col-sm-12">
      <div class="container-fluid custom-footer">
        <p>Copyright © Cascadia Analytics LLC.  All rights reserved.</p>
        <p>Powered by <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://pages.github.com/">GitHub Pages</a></p>
      </div>
      </div></div> -->
      <div class="custom-footer navbar-fixed-bottom">
        <p>Copyright © Cascadia Analytics LLC.  All rights reserved.</p>
        <p>Powered by <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://pages.github.com/">GitHub Pages</a></p>
      </div>
    </div> <!-- content area -->

    

  </div> <!-- main area -->


  <script src="/assets/js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')</script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>